{% extends "base/base.html" %}

{% block body %}
<section>
    <h3 class="mb-0">
        {% if id == 1 %}
        Single
        {% elif id == 2 %}
        Double
        {% else %}
        Deluxe
        {% endif %}
        Room
    </h3>
    <div class="row mt-4">
        <div class="col-12">
            {% if messages %} 
            {% for messsage in messages %} 
             {% if messsage.tags == 'info' %}
              <div class="alert alert-info">{{messsage}}</div>
             {% endif %}
            {% if messsage.tags == 'warning' %}
              <div class="alert alert-danger">{{messsage}}</div>
         {% endif %} 
         {% endfor %}
         {% endif %} 
        </div>
        <div class="col-7">

            <form method="POST" action="/book/{{id}}">
                <div class="form-floating mb-2">
                    <input type="number" name="days" class="form-control" id="floatingStay" placeholder="10" required>
                    <label for="floatingStay">Days to stay</label>
                </div>
                <div class="form-check">
                    <input name="foodCheck" class="form-check-input" type="checkbox" value="true" id="foodCheck">
                    <label class="form-check-label" for="foodCheck">Food</label>
                </div>
                <div class="form-check">
                    <input name="spaCheck" class="form-check-input" type="checkbox" value="true" id="spaCheck">
                    <label class="form-check-label" for="spaCheck">Spa</label>
                </div>
                <div class="form-check">
                    <input name="gymCheck" class="form-check-input" type="checkbox" value="true" id="gymCheck">
                    <label class="form-check-label" for="gymCheck">Gym</label>
                </div>
                <div class="form-check">
                    <input name="clubCheck" class="form-check-input" type="checkbox" value="true" id="clubCheck">
                    <label class="form-check-label" for="clubCheck">Club/Party Hall</label>
                </div>
                <div class="form-check">
                    <input name="swimmingCheck" class="form-check-input" type="checkbox" value="true" id="swimmingCheck">
                    <label class="form-check-label" for="swimmingCheck">Swimming Pool</label>
                </div>
                <div class="form-check">
                    <input name="gamesCheck" class="form-check-input" type="checkbox" value="true" id="gamesCheck">
                    <label class="form-check-label" for="gamesCheck">Indoor Games</label>
                </div>
                <hr />
                <div class="d-grid gap-2">
                    <button value="Submit" type="submit" name="price" class="btn btn-primary">Get Price</button>
                </div>
            </form>
        </div>
        <div class="col">
            {% if items %}
            <form method="POST" action="/book/{{id}}">
            <ul class="list-group">
                {% for key, value in items.items %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <h6 class="mb-0">{{key}}</h6>
                    <span class="text-muted">{{value}} MRU</span>
                </li>
                <input type="hidden" name="{{key}}" value="{{value}}">
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between align-items-center bg-light">
                    <h6 class="mb-0">Total (MRU)</h6>
                    <span class="text-muted">{{total}} MRU</span>
                    <input type="hidden" name="amount" value="{{total}}">
                </li>
            </ul>
            <div class="d-grid gap-2 mt-4">
                <button value="Submit" type="submit" name="book" class="btn btn-dark">Book</button>
            </div>
            </form>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}